/*Pink colour: #FCC9B9*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

canvas{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1 !important;
}

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: #F5F5F5;/*#E5E5E5;*/
  padding: 3.125rem; /* 50px */
}

#card, #card-front, #card-inside {
  height: 30rem; /* 480px */

  /*zoom:0.2;*/
  -moz-transform: scale(0.1);
  /*transform: scale(0.5);*/
  z-index: 50000;
}

.wrap {
    padding: 1.5em 2.5em;
    height: 100%;
}

#card-front, #card-inside {
  width: 50%;
  -webkit-box-shadow: 0.125rem 0.125rem 1.875rem rgba(0, 0, 0, .25), 0 0 0.0625rem /* 2px 2px 30px 1px */ rgba(0, 0, 0, .5);
  -moz-box-shadow: 0.125rem 0.125rem 1.875rem rgba(0, 0, 0, .25), 0 0 0.0625rem /* 2px 2px 30px 1px */ rgba(0, 0, 0, .5);
  box-shadow: 0.125rem 0.125rem 1.875rem rgba(0, 0, 0, .25), 0 0 0.0625rem /* 2px 2px 30px 1px */ rgba(0, 0, 0, .5);
  position: absolute;
  left: 50%;
}

#card-inside .wrap {
    background: #FFEFEF;
    -webkit-box-shadow: inset 0.125rem 0 0.0625rem /* 2px 1px */ rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0.125rem 0 0.0625rem /* 2px 1px */ rgba(0, 0, 0, .05);
    box-shadow: inset 0.125rem 0 0.0625rem /* 2px 1px */ rgba(0, 0, 0, .05);
}

#card {
    max-width: 60rem; /* 960px */
    margin: 0 auto;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 312.5rem; /* 5000px */
    -moz-perspective: 312.5rem; /* 5000px */
    -webkit-perspective: 312.5rem; /* 5000px */
    position: relative;
}

#card h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3.125rem; /* 50px *//*50px;*/
    text-shadow: 
        0.25rem 0.25rem 0rem rgba(0, 0, 0, .15),
        0.0625rem 0.0625rem 0 rgba(255, 200, 200, 255),
        0.125rem 0.125rem 0 rgba(255, 150, 150, 255),
        0.1875rem 0.1875rem 0 /* 4px 4px 0px 1px 1px 2px 2px 3px 3px */ rgba(255, 125, 125, 255);
    color: #FFF;
    /*color:#000;*/
}
#card-front p{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2.1875rem; /* 35px *//*2.24em;*//*35px; 0.7 times h1*/
    text-shadow: 
        0.25rem 0.25rem 0rem rgba(0, 0, 0, .15),
        0.0625rem 0.0625rem 0 rgba(255, 200, 200, 255),
        0.125rem 0.125rem 0 rgba(255, 150, 150, 255),
        0.1875rem 0.1875rem 0 /* 4px 4px 0px 1px 1px 2px 2px 3px 3px */ rgba(255, 125, 125, 255);
    color: #FFF;
}
#card-inside {
    font-size: 1.7em;
    /*line-height: 1.4;*/
    font-family: 'Dancing Script', cursive;
    color: #000;/*#FCC9B9;#331717*/
}

#card-inside .subtext{
  font-size: 0.9em;
}

#card-inside .subtexttext{
  font-size: 0.7em;
}

p {
    margin-top: 1em;
}

p:first-child {
    margin-top: 0;
}

#card-front {
    background-color: #FCC9B9; /*#FF5555*/
    background-image: linear-gradient(top, #FCC9B9 0%, #FCC9B9 100%); /*Second one was #FF7777*/
    background-image: -moz-linear-gradient(top, #FCC9B9 0%, #FCC9B9 100%);
    background-image: -webkit-linear-gradient(top, #FCC9B9 0%, #FCC9B9 100%);
            transform-origin: left;
       -moz-transform-origin: left;
    -webkit-transform-origin: left;
            transition:         transform 1s linear;
       -moz-transition:    -moz-transform 1s linear;
    -webkit-transition: -webkit-transform 1s linear;
    position: relative;
}

#card-front .wrap {
            transition: background 1s linear;
       -moz-transition: background 1s linear;
    -webkit-transition: background 1s linear;
}

#card-front button {
  position: absolute;
  bottom: 1em;
  right: -0.75rem; /* -12px */
  background: #F44;
  color: #FFF;
  font-family: 'Helvectica', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  padding: .5em;
  border: none;
  cursor: pointer;
          box-shadow: 0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, .25), 0 0 0.0625rem /* 2px 2px 3px 1px */ rgba(0, 0, 0, .4);
     -moz-box-shadow: 0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, .25), 0 0 0.0625rem /* 2px 2px 3px 1px */ rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, .25), 0 0 0.0625rem /* 2px 2px 3px 1px */ rgba(0, 0, 0, .4);
}

#card-front button:hover,
#card-front button:focus {
  background: #F22;
}

#close {
  display: none;
}

#card.open-fully #close,
#card-open-half #close {
  display: inline;
}

#card.open-fully #open {
  display: none;
}

#card.open-half #card-front,
#card.close-half #card-front {
            transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
}
#card.open-half #card-front .wrap {
    background-color: rgba(0, 0, 0, .5);
}

#card.open-fully #card-front,
#card.close-half #card-front {
  background: #FFEFEF;
}

#card.open-fully #card-front {
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

#card.open-fully #card-front .wrap {
    background-color: rgba(0, 0, 0, 0);
}

#card.open-fully #card-front .wrap *,
#card.close-half #card-front .wrap * {
   display: none;
}